/*.projects-clean{*/
/*	background: rgba(0,0,0,0);*/
/*}*/
/*.projects-clean .intro h2{*/
/*	color: rgb(255,255,255);*/
/*	font-family: Aclonica, sans-serif;*/
/*}*/
/*.projects-clean .intro p{*/
/*	color: rgb(220,220,220);*/
/*	font-family: Abel, sans-serif;*/
/*	font-size: 18px;*/
/*}*/
/*.projects-clean .projects .name{*/
/*	color: rgb(255,255,255);*/
/*	font-family: Abel, sans-serif;*/
/*}*/
/*.projects-clean .projects .description{*/
/*	color: rgb(220,220,220);*/
/*}*/
/*.item .name{*/
/*	color: rgb(255,255,255);*/
/*	font-family: Abel, sans-serif;*/
/*}*/
/*.item .description{*/
/*	color: rgb(220,220,220);*/
/*}*/

#content-neu{
	text-align:center;
	}

#content-neu h1{
	width:100%;
	font-family:Aclonica, sans-serif;
	color:#ffffff;
	font-size:40px;
	padding-top:1rem;
	}

#content-neu h4{
	width:100%;
	font-family:Aclonica, sans-serif;
	color:#ffffff;
	font-size:14px;
	}

#content-neu p{
	margin-top:2rem;
	margin-bottom:5rem;
	color:#ffffff;
	font-size:16px;
	}

.notification-container {
    position: relative;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;
}

i{
	color:#fff;
	}


.notification-counter {
    position: absolute;
    top: -2px;
    left: 12px;

    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}

.product-new-label{
	background-color:#e3290e;
	color:#fff;
	font-size:17px;
	padding:2px 10px;
	position:absolute;
	right:10px;
	top:10px;
	transition:all .3s}
