body{
	background: #444f51;
}

.col-md-6{
	text-align:center;
	margin-top: 10rem;
}

h1{
	color: #ffffff;
	font-size: 40px;
	font-family: arial, sans-serif;
}

h2{
	color: #f74902;
	font-family: arial, sans-serif;
}

p{
	color: #ffffff;
	font-size: 15px;
	font-family: arial, sans-serif;
}
img{
	width: 264px;height: 262px;margin: 25px;
}

.btn{
	background: rgb(52,58,64);
	color: #f9e526;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	font-family: arial, sans-serif;
}

