h1
{
	width: 100%;
	font-family: Aclonica, sans-serif;
	color: #ffffff;
	font-size: 40px;
	padding-top: 1rem;
	text-align: center;
}
h4
{
	width: 100%;
	font-family: Aclonica, sans-serif;
	color: #ffffff;
	font-size: 14px;
}
